.heading {
    padding: 200px 0 100px;
    background-image: url("https://www.nakheel.com/images/nakheelcorporatelibraries/general/contactus.jpg?sfvrsn=50bfe3be_1");
    background-position: center;
    background-size: cover;
}

.contactUs {
    padding-top: 70px;
}

.contactUs .row {
    padding-bottom: 70px;
}

.contactUs .row .allContacts i {
    font-size: 23px;
}

@media (max-width: 991px) {
    .contactUs .row {
        gap: 30px;
        flex-direction: column-reverse;
    }
}